body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin: 0;
    flex: 1;
    padding: 100px;
}

.container.one {
    background-color: #1f2937;
    flex-direction: column;
}

.container.two {
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}

.container.three{
    background-color: #E5E7EB;
}

.container.four {
    background-color: white;
}

.footer {
    background-color: #1f2937;
}

/*Container one*/
.header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    padding-left: 200px;
}

ul{
    padding-right: 50px;
    display: flex;
    font-weight: normal;
    list-style-type: none;
    justify-content: space-between;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.container .one, .info{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.info .title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.info .text{
    color: #E5E7EB;
    font-size: 18px;
}

button {
    color: white;
    background-color: #3882f6;
}

img{
    color: #E5E7EB;
}


/*container two*/

.two .title {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

.images-text {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
}
